<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>Snaptube Sites - Mobile</title>
    <link href="/_sites-page/css/index.css" rel="stylesheet">
  </head>
  <body>
    {% for group in $data %}
    <div>
        <h2>{{group.title}}</h2>
        <ul class="list">
          {% for i in group.sites %}
            <li>
              <a href="{{i.url}}" onclick="ga('send', 'event', 'android', 'videosites', '{{i.title}}');">
                <div class="item">
                  <div class="img-wrap">
                    <img data-src="{{i.icon}}">
                  </div>
                  <h3>{{i.title}}</h3>
                  <p>{{i.description}}</p>
                  <i class="i-right-arrow"></i>
                </div>
              </a>
            </li>
          {% endfor %}
        </ul>
    </div>
    {% endfor %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-58716663-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
