{% set i = getMeta(currentPage, $alias) %}
<title>{{i.$title}}</title>
<meta name="description" content="{{i.$description}}">
<meta name="keywords" content="{{i.$keywords}}">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image:src" content="http://www.snappea.com/images/snaptube.50ebd0c0.png">
<meta property="og:image" content="http://www.snappea.com/images/snaptube.50ebd0c0.png">
<meta itemprop="image" content="http://www.snappea.com/images/snaptube.50ebd0c0.png">
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{i.$title}}" />
<meta property="og:description" content="{{i.$description}}" />
<meta property="og:url" content="http://www.snaptube.in " />
<meta property="og:site_name" content="SnapTube" />
<meta property="fb:page_id" content="746438775443012" />
<meta property="article:publisher" content="https://www.facebook.com/snaptubeapp" />
<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="@snaptubeapp"/>
<meta name="twitter:domain" content=" snaptubeapp "/>
<meta name="twitter:creator" content="@snaptubeapp "/>
<meta name="msvalidate.01" content="BFA129584E21373E76F1B1CDA85AC1B5" />
<meta name="p:domain_verify" content="9d3b436328d41e281c6216068491e7b6"/>
<meta name="google-site-verification" content="N0E4sy4CD5hlkjH7vUdJTBFgcSHRojx0IlJIOLneMho" />
<link rel="canonical" href="http://www.snaptube.in"/>