<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{$title}}}</title>
        <link rel="shortcut icon" href="/static/images/favicon2.ico" type="image/x-icon">
        <link rel="icon" href="/static/images/favicon2.ico" type="image/x-icon">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="SnapTube About us" />
        <meta property="og:description" content="Download youtube videos and watch it offline anytime on your mobile. Unlimited browsing and downloading absolutely free." />
        <meta property="og:url" content="http://www.snaptube.in " />
        <meta property="og:site_name" content="SnapTube" />
        <meta property="fb:page_id" content="746438775443012" />
        <meta property="article:publisher" content="https://www.facebook.com/snaptubeapp" />
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:site" content="@snaptubeapp"/>
        <meta name="twitter:domain" content=" snaptubeapp "/>
        <meta name="twitter:creator" content="@snaptubeapp "/>
        <link rel="canonical" href="http://www.snaptube.in"/>
        <link rel="publisher" href="https://plus.google.com/+SnaptubeInvideos" />
        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="stylesheet" type="text/css" href="/static/css/pages.css">
    </head>
    <body>
        <header>
            <a class="new-logo" href="/" onclick="ga('send', 'event', 'snaptube.in', '{{currentPage}}', 'toHomePage');">snaptube</a>
            <nav class="topnav">
                <ul>
                    <li>
                        <a href="/" onclick="ga('send', 'event', 'snaptube.in', '{{currentPage}}', 'toHomePage');">Back to Homepage</a>
                    </li>
                </ul>
            </nav>
            {% include "../partials/social.html" %}
        </header>
        {% block content %}{% endblock %}
        {% include "../partials/footer.html" %}
        <script type="text/javascript" src="/static/js/zepto.min.js"></script>
        {% block primary-script %}{% endblock %}
    </body>
</html>
