p {
    text-align: center;
    font-size: 16px;
}
.topnav {
    float: left;
    width:50%;
}
footer a {
    color: #999;
}
.topnav a{color:#444; display: block; float: left}
.topnav li{display: block}
.topnav li:before{
    content:".";
    text-indent: -999em;
    margin-right:6px;
    width:30px;
    height:65px;
    float:left;
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAbCAYAAAAgVez8AAAACXBIWXMAAAsTAAALEwEAmpwYAAAKTWlDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVN3WJP3Fj7f92UPVkLY8LGXbIEAIiOsCMgQWaIQkgBhhBASQMWFiApWFBURnEhVxILVCkidiOKgKLhnQYqIWotVXDjuH9yntX167+3t+9f7vOec5/zOec8PgBESJpHmomoAOVKFPDrYH49PSMTJvYACFUjgBCAQ5svCZwXFAADwA3l4fnSwP/wBr28AAgBw1S4kEsfh/4O6UCZXACCRAOAiEucLAZBSAMguVMgUAMgYALBTs2QKAJQAAGx5fEIiAKoNAOz0ST4FANipk9wXANiiHKkIAI0BAJkoRyQCQLsAYFWBUiwCwMIAoKxAIi4EwK4BgFm2MkcCgL0FAHaOWJAPQGAAgJlCLMwAIDgCAEMeE80DIEwDoDDSv+CpX3CFuEgBAMDLlc2XS9IzFLiV0Bp38vDg4iHiwmyxQmEXKRBmCeQinJebIxNI5wNMzgwAABr50cH+OD+Q5+bk4eZm52zv9MWi/mvwbyI+IfHf/ryMAgQAEE7P79pf5eXWA3DHAbB1v2upWwDaVgBo3/ldM9sJoFoK0Hr5i3k4/EAenqFQyDwdHAoLC+0lYqG9MOOLPv8z4W/gi372/EAe/tt68ABxmkCZrcCjg/1xYW52rlKO58sEQjFu9+cj/seFf/2OKdHiNLFcLBWK8ViJuFAiTcd5uVKRRCHJleIS6X8y8R+W/QmTdw0ArIZPwE62B7XLbMB+7gECiw5Y0nYAQH7zLYwaC5EAEGc0Mnn3AACTv/mPQCsBAM2XpOMAALzoGFyolBdMxggAAESggSqwQQcMwRSswA6cwR28wBcCYQZEQAwkwDwQQgbkgBwKoRiWQRlUwDrYBLWwAxqgEZrhELTBMTgN5+ASXIHrcBcGYBiewhi8hgkEQcgIE2EhOogRYo7YIs4IF5mOBCJhSDSSgKQg6YgUUSLFyHKkAqlCapFdSCPyLXIUOY1cQPqQ28ggMor8irxHMZSBslED1AJ1QLmoHxqKxqBz0XQ0D12AlqJr0Rq0Hj2AtqKn0UvodXQAfYqOY4DRMQ5mjNlhXIyHRWCJWBomxxZj5Vg1Vo81Yx1YN3YVG8CeYe8IJAKLgBPsCF6EEMJsgpCQR1hMWEOoJewjtBK6CFcJg4Qxwicik6hPtCV6EvnEeGI6sZBYRqwm7iEeIZ4lXicOE1+TSCQOyZLkTgohJZAySQtJa0jbSC2kU6Q+0hBpnEwm65Btyd7kCLKArCCXkbeQD5BPkvvJw+S3FDrFiOJMCaIkUqSUEko1ZT/lBKWfMkKZoKpRzame1AiqiDqfWkltoHZQL1OHqRM0dZolzZsWQ8ukLaPV0JppZ2n3aC/pdLoJ3YMeRZfQl9Jr6Afp5+mD9HcMDYYNg8dIYigZaxl7GacYtxkvmUymBdOXmchUMNcyG5lnmA+Yb1VYKvYqfBWRyhKVOpVWlX6V56pUVXNVP9V5qgtUq1UPq15WfaZGVbNQ46kJ1Bar1akdVbupNq7OUndSj1DPUV+jvl/9gvpjDbKGhUaghkijVGO3xhmNIRbGMmXxWELWclYD6yxrmE1iW7L57Ex2Bfsbdi97TFNDc6pmrGaRZp3mcc0BDsax4PA52ZxKziHODc57LQMtPy2x1mqtZq1+rTfaetq+2mLtcu0W7eva73VwnUCdLJ31Om0693UJuja6UbqFutt1z+o+02PreekJ9cr1Dund0Uf1bfSj9Rfq79bv0R83MDQINpAZbDE4Y/DMkGPoa5hpuNHwhOGoEctoupHEaKPRSaMnuCbuh2fjNXgXPmasbxxirDTeZdxrPGFiaTLbpMSkxeS+Kc2Ua5pmutG003TMzMgs3KzYrMnsjjnVnGueYb7ZvNv8jYWlRZzFSos2i8eW2pZ8ywWWTZb3rJhWPlZ5VvVW16xJ1lzrLOtt1ldsUBtXmwybOpvLtqitm63Edptt3xTiFI8p0in1U27aMez87ArsmuwG7Tn2YfYl9m32zx3MHBId1jt0O3xydHXMdmxwvOuk4TTDqcSpw+lXZxtnoXOd8zUXpkuQyxKXdpcXU22niqdun3rLleUa7rrStdP1o5u7m9yt2W3U3cw9xX2r+00umxvJXcM970H08PdY4nHM452nm6fC85DnL152Xlle+70eT7OcJp7WMG3I28Rb4L3Le2A6Pj1l+s7pAz7GPgKfep+Hvqa+It89viN+1n6Zfgf8nvs7+sv9j/i/4XnyFvFOBWABwQHlAb2BGoGzA2sDHwSZBKUHNQWNBbsGLww+FUIMCQ1ZH3KTb8AX8hv5YzPcZyya0RXKCJ0VWhv6MMwmTB7WEY6GzwjfEH5vpvlM6cy2CIjgR2yIuB9pGZkX+X0UKSoyqi7qUbRTdHF09yzWrORZ+2e9jvGPqYy5O9tqtnJ2Z6xqbFJsY+ybuIC4qriBeIf4RfGXEnQTJAntieTE2MQ9ieNzAudsmjOc5JpUlnRjruXcorkX5unOy553PFk1WZB8OIWYEpeyP+WDIEJQLxhP5aduTR0T8oSbhU9FvqKNolGxt7hKPJLmnVaV9jjdO31D+miGT0Z1xjMJT1IreZEZkrkj801WRNberM/ZcdktOZSclJyjUg1plrQr1zC3KLdPZisrkw3keeZtyhuTh8r35CP5c/PbFWyFTNGjtFKuUA4WTC+oK3hbGFt4uEi9SFrUM99m/ur5IwuCFny9kLBQuLCz2Lh4WfHgIr9FuxYji1MXdy4xXVK6ZHhp8NJ9y2jLspb9UOJYUlXyannc8o5Sg9KlpUMrglc0lamUycturvRauWMVYZVkVe9ql9VbVn8qF5VfrHCsqK74sEa45uJXTl/VfPV5bdra3kq3yu3rSOuk626s91m/r0q9akHV0IbwDa0b8Y3lG19tSt50oXpq9Y7NtM3KzQM1YTXtW8y2rNvyoTaj9nqdf13LVv2tq7e+2Sba1r/dd3vzDoMdFTve75TsvLUreFdrvUV99W7S7oLdjxpiG7q/5n7duEd3T8Wej3ulewf2Re/ranRvbNyvv7+yCW1SNo0eSDpw5ZuAb9qb7Zp3tXBaKg7CQeXBJ9+mfHvjUOihzsPcw83fmX+39QjrSHkr0jq/dawto22gPaG97+iMo50dXh1Hvrf/fu8x42N1xzWPV56gnSg98fnkgpPjp2Snnp1OPz3Umdx590z8mWtdUV29Z0PPnj8XdO5Mt1/3yfPe549d8Lxw9CL3Ytslt0utPa49R35w/eFIr1tv62X3y+1XPK509E3rO9Hv03/6asDVc9f41y5dn3m978bsG7duJt0cuCW69fh29u0XdwruTNxdeo94r/y+2v3qB/oP6n+0/rFlwG3g+GDAYM/DWQ/vDgmHnv6U/9OH4dJHzEfVI0YjjY+dHx8bDRq98mTOk+GnsqcTz8p+Vv9563Or59/94vtLz1j82PAL+YvPv655qfNy76uprzrHI8cfvM55PfGm/K3O233vuO+638e9H5ko/ED+UPPR+mPHp9BP9z7nfP78L/eE8/sl0p8zAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAARVSURBVHjavJhBT1RXFIC/c98wDGikKTaNdGFKFGTAqSKNsenCYo3GhQtjTJq4c6F/wIXRpHXR/gAT1y5I1Bq1i0ZNjARSxFQY6QyUEVBJNLHRamhlFHDmvXO6aGtAUd4I805yNy/vve99Oe/ec88VSoy+detqlyfkhCG7RO1ccvD2IcBKfU960ybqgYQqzvMRAM9DneAXHHmgtkJBFBOPQnGqttItOyFOd2FyLv7rwILcmS9aSdwYoLC5FXMg/DtCx3Aq2S6edYCr+/+a7/up1NDoUJmF2wXrkFlclBTwdq4zFN4QdmE/MLe+6ZiIXZstCyCOWsobx5zaNXmNG5hfG5jP6+Pvyel3pj22YCZWraqu+qjmFJ7bR7RRDZwSie0r7T98d7xTON3QsDJRXXFZhM8jll25Mq6XERea68RDLXh/4VxT02riXEVoiFh2dWXcriIuNNcTL/SqOe8czm1oWktcenEuatm1zuhFJBT32bQh4koCvHH34PrGRoRunHwS7gVeQzb18bIlkG3Ek25xLhTXc14DUDJX5squrY/FYj2vr8QLhqqZk3uilkG0LzD6XdFLN+dyz0OWpXqJx3rkPbgK9xySMehTC/rz+WK6ZkXVc3lLWXolPLCxsS6h3nWcfLokP6dZAJZF6LZALjUP5rpmbxRmCdd5lXJdlpBrJllx1q1wKXFjoKuwudXmCKfr62uqVyR6EFlfvulpad/XQ6mhkVuzhGuWVdAjjjJyNU0gh8xxSwCXhoqqmsSF8soCSFvMczeHU8kj/12oWB7XC+WVBXBtOG4CRwBk+LOm78S5b6Ncik3t4JrqyjqRaLmYHYwZ7msh2hBsu5isImqwsd0BZyKFqpqaf0Yleq5hZ1xLdvikmXVEBM2byP6WwTsXgZOmQUdEqc2D2w9cdADTmdwBU71WZtnzvhaTzZncaYDfC8JQ0TtA2bl23veLSeD0q710GxSvz+ieD6pcp1uiRsHMHplIL0qXauFKaujO+Dy3FSf/mtqz4sPqzlIahQUWxEfirFdNuigWr7hYxfi8zcOXo6P54WRyJ3G6Sy1Rqjx2WNaMDI5+CvQ153IPQj6en7aXOxNW1V1yiVJ7bE6yYkHGoF8LXp+r4EHobqk5l5v4bcOabZUW7wwrrYG/u2Vw9OdFJmaiMBNsiye8zrDSprpbkJK5bzQPGzN3n0xN+e1mlgkFFvJLNNueFIq0G+G4apoPQvS/odrDtrGxp9OTM1sN/SXiSvn0xUvZioXnauAvXhigbXz82Z8TUztQ+yli6WcP/5jYQRCeG6gtXhjgq/v3Z37M5vaaBT9ELD3z/c2BvZiF5mpI6QWPC46DNmdGjmoh+EaVF1HujYCjoN+gGo4b8xc81wp9PtIyPHLWJ2jFdGDueZJ7WGbxsxZoqykDcz9cHjqE+YYFtnhhgA3ZkTEryBZTPa5GP4EeTmZu34kg22N3J6e3mOlxTPvN7DDwXtx/BgCN9yNrg3mSSQAAAABJRU5ErkJggg==) left center no-repeat;
    background-size:60px 27px;
}
.new-logo {
    float: right;
    text-indent: -9999px;
    background-image: url(/static/images/snaptube-s6562baca40.1b471711.png);
    background-position: 0 -29px;
    background-repeat: no-repeat;
    width: 182px;
    height: 38px;
    margin: 13.5px 10px 0 0;
}
.terms img{width:33%;}
@media only screen and (max-width: 760px) {
    .topnav{
        width:65%;
    }
    .topnav li , .topnav li a{
        line-height: 44px;
        display: block;
    }

    .topnav li:before{
        background-size:44px 20px;
        width:22px;
        height:20px;

        line-height: 44px;
        height:44px;
    }
    header, footer, .features {
        width: 90%;
        margin:0 auto;
        height:auto;
    }
    .new-logo {
        margin-top: 10px;
        background-size: 90px 67.5px;
        background-position: 0 -18px;
        width: 90px;
        height: 24px;
    }
    .terms img{width:100%;}
}




header > .logo {
  float: left;
  text-indent: -9999px;
  background-image: url('../images/snaptube-s6562baca40.png');
  background-position: 0 -29px;
  background-repeat: no-repeat;
  width: 182px;
  height: 38px;
}
header.small .logo{background-size: 100%;
width: 118px;
height: 26px;
background-position: 0 -18px;}
header.small>nav>a.facebook{background-size: 138px 78px;
width: 20px;
height: 20px;
background-position: 1px -1px;}
header.small>nav>a.twitter{background-size: 120px 75px;
width: 20px;
height: 20px;
background-position: 0 -58px;}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  /* line 130, ../../app/sass/snaptube.scss */
  header > .logo {
    background-image: url('../images/snaptube-2x-s895fd23e67.png');
    background-size: 182px 102.5px;
    background-position: 0 -27px;
  }
}

header > nav {
  float: right;
}
nav.social {
    padding: 23px 0;
}

header > nav > a {
  display: inline-block;
  text-indent: -100%;
  overflow: hidden;
  margin-right: 30px;
}

header > nav > a.facebook {
  background-image: url('../images/snaptube-s6562baca40.png');
  background-position: -1px 1px;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {

  header > nav > a.facebook {
    background-image: url('../images/snaptube-2x-s895fd23e67.png');
    background-size: 182px 102.5px;
    background-position: 0 0;
  }
}

header > nav > a.twitter {
  background-image: url('../images/snaptube-s6562baca40.png');
  background-position: 0 -84px;
  background-repeat: no-repeat;
  width: 31px;
  height: 25px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {

  header > nav > a.twitter {
    background-image: url('../images/snaptube-2x-s895fd23e67.png');
    background-size: 182px 102.5px;
    background-position: 0 -78px;
  }
}
