{% extends '../layouts/primary.html' %}

{% block content %}
<section id="eng">
    {% include "../partials/categories.html" %}
    <section id="recommended" class="clearfix">
        <div class="recommended recommended-list recommende-listdetail">
            <h3>Categories</h3>
            {% for $category in $categoryArray %}
            <div class="hd">
                <h4>
                    <a href="/category/{{$category.name}}">{{$category.name}}</a>
                </h4>
                <a href="/category/{{$category.name}}" class="more">More>></a>
            </div>
            <div class="bd">
                <ul>
                    {% set itemUrlSep = "_category_"+$category.name+"_" %}
                    {% for $item in $category['videos'] %}
                    {% include "../partials/s-video-item.html" with $item %}
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </section>
</section>
{% endblock %}
