{% extends '../layouts/primary.html' %}

{% block content %}
    <section id="eng">
        {% include "../partials/categories.html" %}
        {% include "../partials/s-video-detail.html" %}

        <!-- More Popular videos [s] -->
        <section class="clearfix">
            <div class="popular-video recommended recommended-list">
                <div class="hd">
                    <h4><a href="/popular">More Popular videos</a></h4>
                </div>
                <div class="bd">
                    <ul>
                        {% set itemUrlSep = "_popular_0_" %}
                        {% for $item in $popular['items'] %}
                        {% include "../partials/s-video-item.html" with $item %}
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </section>
        <!-- More Popular videos [e] -->
    </section>
{% endblock %}

{% block primary-script %}
{% include "../partials/spf-hook.html" %}
{% endblock %}