{% extends '../layouts/primary.html' %}

{% block content %}
<section id="hero">
  <div class="intro">
    <div class="wrapper-table">
      <div class="wrapper-table-cell">
        <h1 class="down-info">SnapTube is downloading now…</h1>
        <h2 class="down-info">Click the downlaoded file to install SnapTube from your notification bar and start enjoying!</h2>

      </div>
    </div>
  </div>
  <div class="ad-img">
    <div class="image"></div>
  </div>
  <p class="note for-mobile">If your download doesn’t begin, please <a href="http://dl-master.snappea.com/installer/snaptube/latest/Click_me_to_install_SnapTube_tube_homepage.apk" onclick="ga('send', 'event', 'snaptubevideo.com', 'snaptube', 'download');" class="btn">click here to retry.</a></p>
</section>

<section class="features" id="feature">
  <ul>
    <li>
      <h3>MULTIPLE RESOLUTIONS</h3>
      <p>MP4 videos available in 360 pixels to 720 pixels.</p>
    </li>
    <li>
      <h3>DOWNLOAD AS MP3</h3>
      <p>Direct download. No extra encoding process or plugin needed.</p>
    </li>
    <li>
      <h3>SEARCH</h3>
      <p>Search a video with keywords. Find the video you want.</p>
    </li>
    <li>
      <h3>DISCOVER</h3>
      <p>Explore videos in your favorite categories like Music and Movies.</p>
    </li>
    <li>
      <h3>MANAGE</h3>
      <p>Pause, cancel or resume a video download. Delete videos you don't need anymore. </p>
    </li>
    <li>
      <h3>NO ADS</h3>
      <p>Clean design lets you focus on your videos. No annoying ads.</p>
    </li>
  </ul>
</section>

<iframe name="myFrame" src="http://dl-master.snappea.com/installer/snaptube/latest/Click_me_to_install_SnapTube_tube_homepage.apk" width="0" height="0"></iframe>

{% endblock %}
