{% extends '../layouts/primary.html' %}

{% block content %}
<section id="eng">
    {% include "../partials/categories.html" %}
    <section id="recommended" class="clearfix">
        <div class="recommended recommended-list">
            <h3>Recommended Playlists</h3>
            {% for $special in $list %}
            <div class="hd">
                <h4><a href="/list/{{$special['special']['id']}}">
                    {{$special['special']['name']}}</a></h4>
                <a href="/list/{{$special['special']['id']}}" class="more">More>></a>
            </div>
            <div class="bd">
                <ul>
                    {% set itemUrlSep = "_list_"+$special['special']['id']+"_" %}
                    {% for $item in $special['items'] %}
                    {% include "../partials/s-video-item.html" with $item %}
                    {% endfor %}
                </ul>
                <a href="{{}}">Next Page</a>
            </div>
            {% endfor %}
        </div>
    </section>
</section>
{% endblock %}