{% extends '../layouts/primary.html' %}

{% block content %}
<section id="eng">
    {% include "../partials/categories.html" %}
    <section id="top-weekly" class="clearfix">
        <div class="top-weekly top-weekly-list">
            <h3>Top Weekly Download</h3>
            <ul class="clearfix">
                {% for $item in $top['items'] %}
                <li>
                    <figure class="pic">
                        <a href="{{$item['title']|formatUrl+'_top_0_'+$item['id']}}">
                            <img src="{{$item['pictures']['small'][0]}}" alt="{{$item['title']}}">
                            <span class="time">{{$item['videoEpisodes'][0]['duration']}}</span>
                        </a>
                    </figure>
                    <div class="desc">
                        <h4 class="title">
                            <a href="{{$item['title']|formatUrl+'_top_0_'+$item['id']}}">
                                <i>{{loop.index}}</i>
                                {{$item['title']|lessThan('56', '...')}}
                            </a>
                        </h4>
                        <p class="info">
                            {{$item['weeklyDownloadCount']|number}} Downloads {{$item['latestEpisodeDate']|timeAgo}}
                        </p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        </section>
        <!-- Top Weekly Download List [e] -->
</section>
{% endblock %}