@import "_base";
@import "_fontello";

body {
  background-color: @bgColor;
  font-family: Roboto-Regular;
}

h1 {
  font-size: 22px;
  font-weight: normal;
  line-height: 40px;
}

h2 {
  color: @h2Color;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

@import "_sites";
@import "_guide";