* {
  margin: 0;
}
a {
  text-decoration: none;
}
a:visted {
  color: normal;
}
body {
  background-color: #f5f5f5;
  font-family: Roboto-Regular;
}
h2 {
  color: #656565;
  line-height: 44px;
  margin-left: 16px;
  font-weight: normal;
  font-size: 16px;
}
.list {
  position: relative;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 0;
  margin-bottom: 20px;
}
.list li {
  -webkit-tap-highlight-color: rgba(253, 240, 233, 0.5);
}
.list:last-child {
  margin-bottom: 0px;
}
.item {
  -webkit-user-drag: none;
  border-color: #ddd;
  background-color: #fff;
  color: #444;
  position: relative;
  z-index: 2;
  display: block;
  margin: -1px;
  padding: 16px;
  padding-right: 22px;
  border-width: 1px;
  border-style: solid;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 120px;
  height: 34px;
}
.item h3 {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  color: #3D3D3D;
}
.item p {
  line-height: 16px;
  overflow: hidden;
  font-size: 12px;
  color: #7C7C7C;
}
.item .img-wrap {
  width: 95px;
  height: 50px;
  position: absolute;
  top: 8px;
  left: 16px;
  vertical-align: middle;
  text-align: center;
}
.item img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
