* {
  margin: 0;
}
a {
  text-decoration: none;
}
a:visted {
  color: normal;
}
.x-cross {
  position: relative;
  width: 50px;
  height: 50px;
  border: 1px solid black;
}
.x-cross span {
  position: absolute;
  background: #555;
}
.x-cross .i-vertical {
  left: 0;
  width: 33%;
  height: 100%;
}
.x-cross .i-horizontal {
  top: 33%;
  width: 100%;
  height: 33%;
}
@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?8299936');
  src: url('../font/fontello.eot?8299936#iefix') format('embedded-opentype'), url('../font/fontello.woff?8299936') format('woff'), url('../font/fontello.ttf?8299936') format('truetype'), url('../font/fontello.svg?8299936#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?8299936#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/

  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */

  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */

  /* remove if not needed */

  margin-left: .2em;
  /* you can be more comfortable with increased icons size */

  /* font-size: 120%; */

  /* Uncomment for 3D effect */

  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */

}
.icon-plus:before {
  content: '\e806';
}
/* '' */
.icon-right:before {
  content: '\e807';
}
/* '' */body {
  background-color: #f5f5f5;
  font-family: Roboto-Regular;
}
h1 {
  font-size: 22px;
  font-weight: normal;
  line-height: 40px;
}
h2 {
  color: #656565;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.x-sites-list h2 {
  line-height: 44px;
  margin-left: 16px;
}
.list {
  position: relative;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 0;
  margin-bottom: 20px;
}
.list li {
  -webkit-tap-highlight-color: rgba(253, 240, 233, 0.5);
}
.list:last-child {
  margin-bottom: 0px;
}
.item {
  -webkit-user-drag: none;
  border-color: #ddd;
  background-color: #fff;
  color: #444;
  position: relative;
  z-index: 2;
  display: block;
  margin: -1px 0;
  padding: 16px;
  padding-right: 22px;
  border-width: 1px;
  border-style: solid;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 120px;
  height: 34px;
}
.item h3 {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  color: #3D3D3D;
}
.item p {
  line-height: 16px;
  overflow: hidden;
  font-size: 12px;
  color: #7C7C7C;
}
.item .img-wrap {
  width: 95px;
  height: 50px;
  position: absolute;
  top: 8px;
  left: 16px;
  vertical-align: middle;
  text-align: center;
}
.item img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.x-addmore-wrap {
  text-align: center;
  margin: 10px 0;
}
.x-addmore-wrap a {
  padding: 10px 20px;
  display: inline-block;
  color: red;
  font-weight: lighter;
}
.x-site-new {
  margin: 25px 40px;
}
.x-site-new p {
  color: #656565;
  line-height: 24px;
  font-size: 16px;
}
.x-site-new form > * {
  display: block;
  margin: 18px 0;
}
.x-site-new form .input-field {
  width: 100%;
  line-height: 32px;
  height: 32px;
  font-size: 14px;
  padding: 0 8px;
}
.x-site-new form .submit-field {
  padding: 8px 20px;
  background-color: #e8473c;
  border: 0;
  font-size: 16px;
  color: #fff;
  font-weight: normal;
}
.x-site-new form .x-error-msg {
  color: #e8473c;
  font-size: 12px;
}
.x-success-wrap {
  margin: 25px 40px;
  text-align: center;
}
.x-success-wrap img {
  margin-bottom: 15px;
  width: 86px;
  height: 86px;
}
.x-success-wrap hr {
  margin: 20px 0;
}
.x-success-wrap ul.action-list {
  list-style: none;
  padding: 0;
}
.x-success-wrap ul.action-list li {
  margin: 20px 0;
}
.x-success-wrap ul.action-list li a {
  color: #e8473c;
}
.p-guide {
  background: #4b504f;
}
.p-guide header {
  background-image: url(../image/instagram-guide/content_-_header.png);
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .p-guide header {
    /* on retina, use image that's scaled by 2 */
  
    background-image: url(../image/instagram-guide/content_-_header@2x.png);
    background-size: cover;
  }
}
.p-guide header h1 {
  line-height: 40px;
  font-size: 30px;
  width: 70%;
  float: right;
  margin: 20px 0;
  display: none;
}
.p-guide header img {
  visibility: hidden;
  width: 100%;
}
.x-guide-steps {
  color: #fff;
  padding-bottom: 30px;
}
.x-guide-steps .step {
  padding: 0 10px;
}
.x-guide-steps .step.step1 .screencast {
  background-image: url(../image/instagram-guide/description_pic_1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .x-guide-steps .step.step1 .screencast {
    /* on retina, use image that's scaled by 2 */
  
    background-image: url(../image/instagram-guide/description_pic_1@2x.png);
    background-size: cover;
  }
}
.x-guide-steps .step.step2 .screencast {
  background-image: url(../image/instagram-guide/description_pic_2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .x-guide-steps .step.step2 .screencast {
    /* on retina, use image that's scaled by 2 */
  
    background-image: url(../image/instagram-guide/description_pic_2@2x.png);
    background-size: cover;
  }
}
.x-guide-steps .step.step3 .screencast {
  background-image: url(../image/instagram-guide/description_pic_3.png);
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .x-guide-steps .step.step3 .screencast {
    /* on retina, use image that's scaled by 2 */
  
    background-image: url(../image/instagram-guide/description_pic_3@2x.png);
    background-size: cover;
  }
}
.x-guide-steps .step .title {
  height: 60px;
  line-height: 30px;
  font-size: 18px;
  width: 70%;
  padding: 20px 0;
  position: relative;
}
.x-guide-steps .step .title i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  display: inline-block;
  font-style: normal;
  border: 1px solid #fff;
  position: absolute;
}
.x-guide-steps .step .title h2 {
  padding-left: 60px;
  font-size: 18px;
  position: relative;
  top: 50%;
  color: #fff;
  -webkit-transform: translateY(-50%);
}
.x-guide-steps .step .wrap {
  position: relative;
}
.x-guide-steps .step .screencast {
  vertical-align: middle;
  width: 60%;
  display: inline-block;
  margin-right: 2%;
  background-size: cover;
}
.x-guide-steps .step .screencast img {
  visibility: hidden;
  width: 100%;
}
.x-guide-steps .step .instructions {
  display: inline-block;
  width: 36%;
  vertical-align: middle;
}
