{% extends '../layouts/page.html' %}

{% block content %}
<section class="features">
    <div class="terms">
        <h2 class="title">About SnapTube</h2>

        <p>SnapTube is a video downloader for Android that launched in November, 2014. Right now it’s available in popular app stores like Opera Mobile Store and UC 9Apps store.</p>

        <h3 class="title">Main features:</h3>
        <ol>
            <li>Save YouTube videos for offline watching. </li>

            <li>Killer music download feature lets you save music videos into MP3 formats in only one step. Save time and space on your phone. No extra encoding process or plugin required.</li>
            <li>Search videos with keywords</li>

            <li>Download videos via sharing function</li>

            <li>Discover new videos with categories</li>

            <li>Pause, cancel, or resume a video</li>

            <li>Free without any annoying ads</li>
        </ol>
        <h3 class="title">What users are saying:</h3>

        <p>“The best ever video downloader on the planet. ....5star” - Will Heart Dende </p>

        <p>“This is best Android app...” - Rathor RV </p>

        <p>“Better than tubemate” - Israel Jaimes</p>

        <p>Join our community:</p>

        <p>Facebook: <a href="https://www.facebook.com/snaptubeapp" target="_blank">https://www.facebook.com/snaptubeapp</a></p>

        <p><a href="https://twitter.com/snaptubeapp" target="_blank"> Twitter: @snaptubeapp</a></p>
    </div>
</section>
{% endblock %}