<ol>
    <li>How do I download videos?
        <ul>
            <li>When you find the video you would like to download, go to the detail page, click the download button on the lower right side, choose a resolution, download will then start.</li>
        </ul>
    </li>
    <li>How do I search videos?
        <ul>
            <li>You can search videos in the search bar, or navigate to YouTube tab and search </li>
        </ul>
    </li>
    <li>How do I filter search results?
        <ul>
            <li>At the bottom of the result page, you can see Duration and All time options, with which you will be able to filter the results by length of the video and upload date.</li>
            </li>
        </ul>
    </li>
    <li>Where are the downloaded videos?
        <ul>
            <li>All your downloaded videos are in My Videos, you can check it by clicking the icon on the upper right side of SnapTube, under Downloaded section. If you wish to find them in your phone, you can go to Settings - Download Path and see where they’re stored.</li>
        </ul>
    </li>

    <li>How do I delete downloaded videos?
        <ul>
            <li>In My Videos, you will see all the videos that are in progress or downloaded. Click on the “x” icon to delete videos, or hold a video for 2 seconds, you will be able to select multiple videos and delete them at once.</li>
        </ul>
    </li>

    <li>How do I share SnapTube with friends?
        <ul>
            <li>In My Videos, click on the last icon on the upper right side, you will be able to share SnapTube with your friends via SNS or IMs.</li>
        </ul>
    </li>
    <li>When I want to change the download path in Setting function, but it shows “You have no external memory card”, why?
        <ul>
            <li>If there are two SD cards in your phone, you can change the download path. If not, you will be seeing “You have no external memory card”.</li>
        </ul>
    </li>
    <li>If I have questions or suggestions, how can I contact SnapTube?
        <ul>
            <li>There are two ways you can contact us - Go to Settings, you will see a Feedback share SnapTube with your friends via SNS or IMs. not, you will be seeing “You have no external memory card”. section, click to leave us a message on Facebook; Or scroll down to the bottom, click “Email Developer” to send us an email. You’re welcome to contact us anytime.</li>
        </ul>
    </li>
    <li>How can I get more information about SnapTube?
        <ul>
            <li>Follow us on Facebook: <a href="http://facebook.com/snaptubeapp" target="_blank">http://facebook.com/snaptubeapp</a></li>
        </ul>
    </li>
</ol>