<h3 class="title">Download instructions</h3>
<ul>
    <li>Go to <a href="/">snaptube.in</a>, click on Download</li>
    <li>If your browser pops up a windows, click on OK; if there’s no popup, the download will start automatically</li>
    <li>
        When the download is finished, you can access it from the notification bar, click it to install
        <br>
        <img src="/static/images/step1.jpg" />
        <img src="/static/images/step2.jpg" />
        <img src="/static/images/step3.jpg" />
    </li>
    <li>
        If you’re seeing this page (install blocked), please go to Settings - Security, and turn on “Unknown sources”
        <br>
        <img src="/static/images/image01.jpg" />
        <img src="/static/images/image02.jpg" />
    </li>
</ul>
{% include "../partials/s-download-btn.html" %}